@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
@import "config";
@import "showCase";
@import "Rectangle-02";
*,
::after
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6;
    font-size: 1.3rem;
}
.content-container{
    max-width: 1440px;
    height: 3000px;
    margin: 0 auto;
    background-color: $secondry-clr;
}